* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilização do controle deslizante (thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* Estilização quando o controle deslizante (thumb) está sendo arrastado */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Estilização da trilha da barra de rolagem (background da barra) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Estilização quando a trilha da barra de rolagem está sendo hover */
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Estilo para o cursor */
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff5733; /* Cor do cursor */
  border-radius: 50%; /* Forma circular */
  pointer-events: none; /* Permite que o cursor real passe por cima */
  transform: translate(-50%, -50%);
  transition: all 0.1s ease; /* Transição suave para o tamanho */
  z-index: 9999; /* Coloca o cursor acima de todos os elementos */
}

/* Estilo para o rastro */
.cursor-trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent; /* Cor de fundo transparente */
  border-radius: 50%; /* Forma circular */
  pointer-events: none; /* Permite que o cursor real passe por cima */
  transition: background-color 0.3s ease; /* Transição suave para a cor */
  z-index: 9998; /* Coloca o rastro logo abaixo do cursor */
}

.container {
  display: flex;
  flex-direction: row;
}

/* left side */
.left {
  width: 40%;
  padding: 100px 50px 100px 300px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 20px 0;
  gap: 10px;
}

.menu {
  height: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: #000;
  border-radius: 8px;
}

.nav-item:hover {
  padding-left: 60px;
  padding-right: 6px;
  background-color: #000;
  color: #fff;
}

.social-media {
  display: flex;
  flex-direction: column;
  height: auto;
}

.contact-area {
  display: flex;
  gap: 10px;
}

.contact-item {
  width: 100%;
}

.font-bigger,
.font-medium,
.font-smaller {
  text-align: center;
}

.font-bigger {
  font-size: 48px;
  font-weight: 900;
}
.font-medium {
  font-size: 32px;
  font-weight: 600;
}

.font-smaller {
  font-size: 16px;
}

.icon {
  width: 60px;
  height: 60px;
}

/* right side */
.right {
  width: 60%;
  padding: 100px 300px 100px 100px;
  overflow-y: auto; /* Adiciona uma barra de rolagem no lado direito, se necessário */
  position: absolute; /* Para permitir que o lado direito ocupe o espaço restante */
  top: 0;
  right: 0;
  bottom: 0;
}

.bio {
  margin-bottom: 150px;
}

.bio,
.text-box {
  color: #000;
  text-align: justify;
  height: auto;
}

#experiences {
  margin-bottom: 150px;
}

.experiences-box {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

.experiences-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.experiences-box-content {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 8px;
}

.period p {
  width: 200px;
}

.period,
.description-title {
  font-weight: 900;
  text-transform: uppercase;
}

.tec-used {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.tec-item {
  background-color: rgba(0, 0, 0, 0.4);
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 8px;
  color: #fff;
}
.external-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
}

.picture img {
  width: 200px;
  height: auto;
  padding: 20px;
}

.small-icon {
  width: 15px;
  height: 15px;
}

.link-all {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.link-all-projects a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
}

.link-all:hover a {
  background-color: #ccc;
}

.underline {
  border-bottom: 1px solid #000;
  width: 100%;
}

.conclusion {
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1444px) {
  .left {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .find-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-area {
    display: flex;
    align-items: center;
  }

  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio {
    padding: 0 20px 0 0;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 20px;
    overflow: visible;
    top: 60%;
  }

  .nav-menu {
    text-align: center; /* Centralizado o texto do menu */
  }

  .contact-area {
    justify-content: space-around; /* Espaçamento uniforme entre os ícones de mídia social */
  }

  .experiences-box {
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .period {
    width: auto;
  }

  .conclusion {
    text-align: justify;
    padding: 0 10px 20px 0;
  }
}
